# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env
*.env

# Flask configuration files
instance/
config.py

# Python virtual environment
venv/
.env/
*.env

# Cache files and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Database
*.db
*.sqlite

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Vercel/Netlify specific
.vercel/
.netlify/
.vscode/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Docker files
docker-compose.override.yml

.vercel
